.new .background-icon {
  color: darkslateblue;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 60vw;
  z-index: -2;
  transform: translate(-50%);
}

.title-wrapper {
  background: rgba(0,0,0,0.5);
  padding: 1rem;
}

.title {
  font-size: 4rem;
  color: white;
}

.text-input-field {
  font-size: 1.5rem;
  max-width: 20rem;
}

.enter-btn-size {
  font-size: 1.5rem !important;
  min-width: 18rem;
}

.group_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.group_title .title_tf {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  min-width: 30px;
  margin-top: auto;
  margin-bottom: 1rem;
  align-items: center;
}
.group_title .title_tf .tf {
  width: 92%;
}

@media only screen and (max-width: 600px) {
  .new .background-icon {
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 17rem;
    z-index: -2;
    transform: translate(-50%);
  }

  .title-wrapper {
    background: none;
    padding: 0;
  }

  .title {
    font-size: 10vw;
    color: black;
  }

  .text-input-field {
    font-size: 1.4rem;
    max-width: 10rem;
  }

  .enter-btn-size {
    font-size: 4vw !important;
    min-width: 40vw;
  }

  .group_title .title_tf {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    min-width: 30px;
    margin-top: auto;
    margin-bottom: 0.5rem;
    align-items: center;
  }

  .group_title .title_tf .tf {
    width: 86%;
  }
}
