p,
span {
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.new .background-icon {
  color: darkslateblue;
  position: absolute;
  bottom: 0;
  left: -5rem;
  font-size: 20rem;
  z-index: -2;
}

.title {
  font-size: 4rem;
}

.text-input-field {
  font-size: 1.5rem;
  max-width: 20rem;
}

.enter-btn-size {
  font-size: 1.5rem !important;
  min-width: 18rem;
}

.group_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.group_title .title_tf {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  min-width: 30px;
  /* height: 3rem; */
  margin-top: auto;
  margin-bottom: 1rem;
  align-items: center;
}
.group_title .title_tf .tf {
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 12px; */
  width: 92%;
  /* top: 2.3rem; */
}

@media only screen and (max-width: 600px) {
  .new .background-icon {
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    left: -3rem;
    font-size: 10rem;
    z-index: -2;
  }

  .title {
    font-size: 10vw;
  }

  .text-input-field {
    font-size: 1.4rem;
    max-width: 10rem;
  }

  .enter-btn-size {
    font-size: 4vw !important;
    min-width: 40vw;
  }

  .group_title .title_tf {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    min-width: 30px;
    /* height: 3rem; */
    margin-top: auto;
    margin-bottom: 0.5rem;
    align-items: center;
  }

  .group_title .title_tf .tf {
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 12px; */
    width: 86%;
    /* top: 1rem; */
  }
}
