video {
  object-fit: fill;
}

.video-room {
  background-color: dimgray !important;
}

.video-padding {
  padding: 0.25rem 0.25rem 0 0.25rem !important;
}

.top-button {
  margin-top: 5rem;
  right: 0;
}

.fixed-top-button {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
