html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100vw;
  /* position: fixed; */
  overflow: hidden;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.fix {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

input:focus,
button:focus {
  outline: none !important;
}
