.green-room .background-icon {
  color: darkslateblue;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 60vw;
  z-index: -2;
  transform: translate(-50%);
}

.wrapper {
  background: rgba(0,0,0,0.5);
  padding: 1rem;
}

.title {
  font-size: 4rem;
  color: white;
}

.text-input-field {
  font-size: 1.5rem;
  max-width: 20rem;
}

@media only screen and (max-width: 600px) {
  .green-room .background-icon {
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 15rem;
    z-index: -2;
    transform: translate(-50%);
  }

  .wrapper {
    background: none;
    padding: 0;
  }

  .title {
    font-size: 10vw;
    color: black;
  }

  .text-input-field {
    font-size: 1.4rem;
    max-width: 10rem;
  }
}
