.message-item {
  max-width: 85%;
}

.chat-room-container {
  position: fixed;
  left: 3.6rem;
  top: 25%;
  background-color: white;
  width: max-content;
  z-index: 2001;
}

.body-size {
  height: 18rem;
  max-width: 100%;
  overflow: auto;
}

.new-message-input-field {
  height: 2.4rem;
}

@media screen and (max-width: 600px) {
  .body-height {
    height: 10rem;
    overflow: auto;
  }
}

.move-cursor {
  cursor: move;
}

.name-with {
  max-width: 5rem;
}

.message-item ::-moz-selection {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.message-item ::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.bg-my-msg {
  background-color: aliceblue;
}

.bg-other-msg {
  background-color: honeydew;
}
