audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-play-button,
video::-webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-current-time-display {
  display: none;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-time-remaining-display {
  display: none;
  -webkit-appearance: none;
}

.nickname {
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 0.3rem;
  margin: 0;
  max-width: 15rem;
  position: absolute;
  top: 0;
}

.screen-off {
  font-size: 3rem;
}

.icon-size {
  font-size: 1.5rem;
}

.line-height-mute {
  line-height: 3.5rem;
}

.video-button {
  position: absolute;
  bottom: 0;
}
